[submodule "lib/roact"]
	path = lib/roact
	url = https://github.com/Roblox/roact.git
[submodule "lib/rodux"]
	path = lib/rodux
	url = https://github.com/Roblox/rodux.git
[submodule "lib/roactrodux"]
	path = lib/roactrodux
	url = https://github.com/Roblox/roactrodux.git
[submodule "lib/pizzaalpaca"]
	path = lib/pizzaalpaca
	url = https://github.com/Nimblz/pizzaalpaca
[submodule "lib/t"]
	path = lib/t
	url = https://github.com/osyrisrblx/t
[submodule "lib/roblox-lua-promise"]
	path = lib/roblox-lua-promise
	url = https://github.com/evaera/roblox-lua-promise.git
[submodule "lib/recs"]
	path = lib/recs
	url = https://github.com/AmaranthineCodices/recs.git
